h1 {
  font-size: 50px;
  color: red;
  font-family: 'Ephesis', cursive;
}

h3 {
    color:aqua;
    font-size: 20px;
    font-family: 'Splash', cursive;
}

h2 {
    color:blueviolet;
    font-size: 15px;
    font-family: 'Splash', cursive;
}

p {
  color:goldenrod;
  font-family: 'Edu NSW ACT Foundation', cursive;
}   

.imagen-de-gatos{
    width: 400px;
    border-width: 10px;
    border-color: deeppink;
    border-style: groove;
    border-radius: 20px;
}
.bordes-redondeados {

  height: 40px;
}
